In [1]:
import pandas as pd

In [2]:
pd.read_csv("../Data/ActivitiesByHour.txt")

     Week   Reading   Playing   Watching TV
0  Week 1         4         2             3
1  Week 2         5         3             2
2  Week 3         5         1             3